{% load static %}

<div class="card text-center p-4" style="width: 20rem;">

    <div class="card-body">
        <h5 class="card-title"><b>{{author.first_name}} {{author.last_name}}</b></h5>
        <h6 class="card-subtitle mb-2 text-muted">@{{author.username}}</h6>
    </div>

    {% if user == author %}
    <a href="{% url 'profile' author.username %}" class="btn btn-outline-secondary mb-3">Edit Profile</a>
    {% else %}
    <a href="#" class="btn btn-outline-primary">Follow</a>
    {% endif %}

    <p class="card-text"><i class="fas fa-users text-muted"></i><b> 10</b> Followers · <b>20</b> Following</p>
    <hr>

    {% if author.profile.bio %}
    <h5 class="text-left"><b>About</b></h5>
    <p class="text-left">{{author.profile.bio | safe}}</p>
    {% endif %}

    <hr>
    <table>
        {% if author.profile.get_location %}
        <tr>
            <td><i class="fas fa-map-marker-alt text-muted mr-2"></i></td>
            <td><p class="card-text text-left">{{author.profile.get_location}}</p></td>
        </tr>
        {% endif %}
        {% if author.profile.website %}
        <tr>
            <td><i class="fas fa-map-pin text-muted mr-2"></i></td>
            <td><p class="card-text text-left"><a href='#'>{{author.profile.website}}</a></p></td>
        </tr>
        {% endif %}
        {% if author.profile.twitter %}
        <tr>
            <td><i class="fab fa-twitter text-muted mr-2"></i></td>
            <td><p class="card-text text-left"><a href='https://twitter.com/{{author.profile.twitter}}'>@{{author.profile.twitter}}</a></p></td>
        </tr>
        {% endif %}
        {% if author.profile.github %}
        <tr>
            <td><i class="fab fa-github text-muted mr-2"></i></td>
            <td><p class="card-text text-left"><a href='https://github.com/{{author.profile.github}}'>{{author.profile.github}}</a></p></td>
        </tr>
        {% endif %}
    </table>

    <hr>

    <small>Member since {{author.account_created | date:"F Y"}}</small>

</div>