{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>{{author}}</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
        <div class="col-4">
            <a href="{% url 'post_detail' post.author.username post.slug %}" class="card h-100">
                <img src="{{ post.feature_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">By {{post.author.username}} on {{post.published}}</small>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}