{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron cover_photo" style="height: 300px;">
    <div class="cover_photo__words">
            <h1 class='text-white pl-3 pr-3 pt-1 pb-1' style='background:rgba(0,0,0,0.6);'><b>{{author.first_name}} {{author.last_name}}</b></h1>

            {% if author.profile.blog_title %}
            <h4 class='text-white pl-3 pr-3 pt-1 pb-1' style='background:rgba(0,0,0,0.6);'>
                {{author.profile.blog_title}}</h4>
            {% endif %}
    </div>

    {% if author.profile.cover_photo %}
    <img src="{{author.profile.cover_photo.url}}" class="cover_photo__img"
        alt="cover photo for {{author.first_name}} {{author.last_name}}">
    {% endif %}

    {% if author == request.user %}
    <form class="cover_photo__form" method='POST' id="coverphotoUpload" data-url="{% url 'change_cover_photo' %}">
        {% csrf_token %}
        <label for="id_cover_photo" class="btn btn-light">
            Change
        </label>
        <input type="file" name="cover_photo" id="id_cover_photo">
        <input type="hidden" name="x" id="id_x">
        <input type="hidden" name="y" id="id_y">
        <input type="hidden" name="width" id="id_width">
        <input type="hidden" name="height" id="id_height">
    </form>
    {% endif %}

</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            {% include 'blog/partials/profile_card.html' %}
        </div>
        <div class="col-8">
            <h2>Recent Posts</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in posts %}
                <div class="col-4">
                    <a href="{% url 'post_detail' post.author.username post.slug %}" class="card h-100">
                        <img src="{{ post.feature_image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">By {{post.author.username}} on {{post.published}}</small>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'blog/partials/coverphoto_cropper_modal.html' %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/coverphoto_upload.js' %}"></script>
<script src="{% static 'js/follow.js' %}"></script>
{% endblock %}