{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- safe flag required on post.body to correctly render content from the rich text editor -->

<div class="container">
    <img class="img-fluid" src="{{ post.feature_image.url }}" alt="{{ post.title }}">
    <hr>
    <h1>{{ post.title }}</h1>
    <small>By <a href="{% url 'author' post.author.username %}">{{post.author.username}}</a>. Published
        {{post.published}}</small>
    <p>{{ post.body | safe}}</p>

    <div>
        <h2>Comments</h2>

        <div class="comments-list" data-ajaxurl="{% url 'get_comments' post.id %}" data-userid="{{request.user.id}}"
            data-deleteurl="{% url 'delete_comment' %}" data-csrf="{{ csrf_token }}">
            <p><b class="comment-count"></b> comments</p>
        </div>

        {% if post.author != request.user %}
        <div class="card">
            <div class="card-header">
                <b>Add a comment</b>
                <form method='POST' class="comment-form" data-postid="{{post.id}}" data-url="{% url 'add_comment' %}"
                    data-userid="{{request.user.id}}">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{comment_form | crispy}}
                    <input type="submit" value="Add" class="btn btn-primary">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>dayjs.extend(window.dayjs_plugin_relativeTime)</script>
<script src="{% static 'js/get_comments.js' %}" type="module"></script>
<script src="{% static 'js/add_comment.js' %}" type="module"></script>
<script src="{% static 'js/delete_comment.js' %}" type="module"></script>
{% endblock %}