{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- safe flag required on post.body to correctly render content from the rich text editor -->

<div class="container">
    <img class="img-fluid" src="{{ post.feature_image.url }}" alt="{{ post.title }}">
    <hr>
    <h1>{{ post.title }}</h1>
    <small>By <a href="{% url 'author' post.author.username %}">{{post.author.username}}</a>. Published
        {{post.published}}</small>
    <p>{{ post.body | safe}}</p>

    <div>
        <h2>Comments</h2>


        <div class="comments-list">
            {% if comments %}
            {% for comment in comments %}
            <div class="card mb-2" id="comment-{{comment.id}}">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <p class="m-0">By <b>{{comment.user_from.user.first_name}} {{comment.user_from.user.last_name}}</b>
                    </p>
                    <em>{{comment.timestamp}}

                        {% if comment.user_from.user == request.user %}
                        <form method="POST" data-commentid="{{comment.id}}" data-url="{% url 'delete_comment' %}"
                            style="display: inline-block;" class="delete-comment-form pl-2">
                            {% csrf_token %}
                            <input type="submit" value="delete" class="btn btn-sm btn-outline-danger">
                        </form>
                        {% endif %}
                    </em>

                </div>
                <div class="card-body">
                    {{ comment.body }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No comments yet</p>
        {% endif %}

        {% if post.author != request.user %}
        <div class="card">
            <div class="card-header">
                <b>Add a comment</b>
                <form method='POST' class="comment-form" data-postid="{{post.id}}" data-url="{% url 'add_comment' %}"
                    data-firstname="{{request.user.first_name}}" data-lastname={{request.user.last_name}}>
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{comment_form | crispy}}
                    <input type="submit" value="Add" class="btn btn-primary">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block javascript %}
<script src="{% static 'js/add_comment.js' %}"></script>
<script src="{% static 'js/delete_comment.js' %}"></script>
{% endblock %}