.modal-body{
    padding:0;
}

.profile_picture__overlay{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    border-radius:50%;
    transition: 0.3s all;

    i{
        margin:auto;
    }

    &:hover{
        opacity: 1;
    }
}
